body {
    background-color: #999;
    font-family: Verdana;
    text-align: center;


}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    /*text-align: center;*/
}

h1 {
    text-align: center;
}

main{
    padding: 4em;
}
