body {
    /*background-color: #999;*/
    background-color: #8ca5ce;
    font-family: Verdana;
    text-align: center;


}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul li {
    display: inline-block;

}

h1 {
    text-align: center;
}

main{
    padding: 4em;
}

figcaption{
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
}

#intro {
    font-family: serif;
    font-size: 18px;
}

div {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}

.dogbio::first-letter {
    font-size: 300%;
    font-family: Coronetscript, cursive;
    color: #a55200;

}
